/*.logoST {
  width:50px;
  border-radius:50%;
  border:3px solid red;
}*/

.navbar-brand {
  margin-left:10px;
  font-family: 'Fredoka One', cursive;
  font-size: 1.2rem;
}

/* nav links */
.navbar-toggler{
  outline: none !important;
  box-shadow: none !important;
  border: none;
  color: var(--mainWhite)
}

span.navbar-toggler-icon {
  color: var(--mainWhite);
  font-size: 1.5rem;
}

.nav-link {
  font-family: 'Baloo 2', cursive;
  transition: color 1s ease-in-out;
  font-size: 1rem;
  color: var(--mainWhite);
}

.nav-link:hover{
  color: var(--mainRed) !important;
  cursor: pointer;
}

  li {
    text-align: right;
    @media (min-width: 992px) {
      text-align: left;
      margin-left: 2rem;
    }
  }

  .navbar {
    padding: 0px;
    padding-top: 5px;
  }
