<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">

  <!-- SVOD Tracker -->
  <a class="navbar-brand" routerLink="home" (click)="navigate(homePath)">SVOD Tracker</a>

  <!-- burger menu -->
  <button
    type="button"
    class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Cas où l'utilisateur n'est pas connecté -->
  <div *ngIf="!user" class="collapse navbar-collapse ml-auto justify-content-end" id="myNavbar">
      <ul class="navbar mr-auto">
        <!-- Accueil -->
        <li class="nav-item" [class.active]=isActive(homePath)>
          <a class="nav-link" (click)="navigate(homePath)">
            <span class="material-icons md-24 align-middle">house</span>
          </a>
        </li>
        <!-- Films -->
        <li class="nav-item" [class.active]=isActive(moviesPath)>
          <a class="nav-link" (click)=navigate(moviesPath)>
            Films
          </a>
        </li>
        <!-- Séries -->
        <li class="nav-item" [class.active]=isActive(tvShowsPath)>
          <a class="nav-link" (click)=navigate(tvShowsPath)>
            Séries
          </a>
        </li>
        <!-- User Inscription -->
        <li class="nav-item" [class.active]=isActive(signinPath)>
          <a class="nav-link" (click)=navigate(signinPath)>
            Inscription
          </a>
        </li>
        <!-- User Connexion -->
        <li class="nav-item" [class.active]="isActive(loginPath)">
          <a class="nav-link" (click)=navigate(loginPath)>
            Connexion
          </a>
        </li>
      </ul>
  </div>

  <!-- Cas où l'utilisateur est connecté -->
  <div *ngIf="user" class="collapse navbar-collapse ml-auto justify-content-end" id="myNavbar">
    <ul class="navbar-nav mr-auto utilisateurConnecteListe">
      <!-- Accueil -->
      <li class="nav-item" [class.active]=isActive(homePath)>
        <a class="nav-link" (click)="navigate(homePath)">
          <span class="material-icons text-color-white md-24 align-middle">house</span>
        </a>
      </li>
      <!-- Identification utilisateur -->
      <li class="nav-item">
        <a class="connectedUser">Connecté.e en tant que : {{user?.name}}</a>
      </li>
      <!-- Redirection vers espace personnel -->
      <li class="nav-item" [class.active]=isActive(moviesPath)>
        <a class="nav-link" (click)=navigate(dashboardPath)>Espace personnel</a>
      </li>
      <!-- Films -->
        <li class="nav-item" [class.active]=isActive(moviesPath)>
          <a class="nav-link" (click)=navigate(moviesPath)>
            Films
          </a>
        </li>
        <!-- Séries -->
        <li class="nav-item" [class.active]=isActive(tvShowsPath)>
          <a class="nav-link" (click)=navigate(tvShowsPath)>
            Séries
          </a>
        </li>
        <!-- Déconnexion -->
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <span class="material-icons md-24">follow_the_signs</span>
        </a>
      </li>
    </ul>
  </div>
</nav>




