/* @extend display-flex; */
display-flex {
    display: flex;
    display: -webkit-flex;
}
/* @extend list-type-ulli; */
list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
}

a {
  color: var(--black-color);
}

body {
	font-size: 13px;
  line-height: 1.8;
  color:var(--black-color);
  background: #f8f8f8;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

p { margin-bottom: 0px; font-size: 15px; color: #777;}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: var(--black-color);
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
}

.clear { clear: both; }

.display-flex  {
  @extend display-flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex-center  {
  @extend display-flex;
  justify-content: center;
  align-items :center;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login {
  margin-bottom: 30px;
  @extend display-flex;
  padding: 75px 0;
  flex-flow: wrap;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  padding-left: 34px;
  padding-right: 34px;
}

.form-title {
  margin-bottom: 33px;
  margin-left: 20px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
    &:last-child {
      margin-bottom: 0px;
    }
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid var(--black-color);
    padding: 6px 30px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border-radius: 0%;
    outline: none;
    appearance: unset;
    &:focus {
    border-bottom: 1px solid var(--grey-color);
    outline: none;
    box-shadow: none;
    }
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-color);
}

.material-icons-mail,
.material-icons-pwd {
  font-size: 18px;
  color: var(--mainRed);
}
