<div class="details">

  <div class="backdrop">
    <img class="lazyload image" src="https://image.tmdb.org/t/p/original/{{ movie?.backdrop_path }}" alt="">
  </div>
  <div class="pane">
    <div>
      <div class="name">{{ movie?.title }}</div>
        <div class="meta">
          <div class="info">
            <span class="rate">
              <em class="material-icons">star</em>
              <span>{{ movie?.vote_average }}</span> /10
            </span>

            <span>{{ movie?.release_date | date: 'yyyy' }}</span>

            <span>{{ movie?.runtime }} minutes</span>
          </div>
        </div>

    </div>
  </div>

</div>
