<div class="container-fluid">
  <div class="listing">
  <div class="listing__head">
    <h3 class="listing__title">Films à l'affiche</h3>
      <a class="listing__explore" (click)="navigate(moviesPath)">
        <strong>Voir plus</strong>
      </a>
  </div>

  <!-- Ajouter Loader et module <p-skeleton -->
  <p-carousel
    [value]="movieNowPlaying"
    [numVisible]="6"
    [numScroll]="4"
    [circular]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-movie pTemplate="item">
      <div class="listing-item-style" [routerLink]="['/movies/', movie.id]">
        <div class="overlay">
          <div class="hover">
            <em class="material-icons">manage_search</em> Description
          </div>
        </div>
        <img
          *ngIf="movie?.poster_path"
          src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}"
          [alt]="movie.title ? movie.title : movie.name">
        <img
          *ngIf="!movie?.poster_path"
          src="../../../../assets//images/default-movie.png"
          [alt]="movie.title ? movie.title : movie.name">
        <h6>{{ movie?.title }}</h6>
        <p class="rate">
          <em class="material-icons">star</em>
          <span>{{movie?.vote_average}}</span> /10
        </p>

        <p class="year">
          <span>
            {{movie?.release_date | date: 'yyyy'}}
          </span>
        </p>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div class="listing">
  <div class="listing__head">
    <h3 class="listing__title">Séries populaires</h3>
    <a class="listing__explore" (click)="navigate(tvShowsPath)">
      <strong>Voir plus</strong>
    </a>
  </div>

  <!-- Ajouter loader et module <p-skeleton> -->
  <p-carousel
    [value]="tvShow"
    [numVisible]="6"
    [numScroll]="4"
    [circular]="false"
    [responsiveOptions]="responsiveOptions">
      <ng-template let-tv pTemplate="item">
        <div class="listing-item-style" [routerLink]="['/tv-shows/', tv.id]">
          <div class="overlay">
            <div class="hover">
              <em class="material-icons">manage_search</em> Description
            </div>
          </div>
          <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{tv?.poster_path}}" [alt]="tv.title ? tv.title : tv.name">
          <h6>{{ tv?.original_name }}</h6>
          <p class="rate">
            <em class="material-icons">star</em>
            <span>{{tv?.vote_average}}</span>/10
          </p>
          <p class="year">
            <span>
              {{tv?.first_air_date | date: 'yyyy'}}
            </span>
          </p>
        </div>
      </ng-template>
  </p-carousel>
</div>
</div>

