<p-tabView>
        <p-tabPanel header="Aperçu">
          <div class="listing-space info__movies">

          <div class="left">
            <div class="poster">
              <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{ movie?.poster_path }}" [alt]="movie?.name">
            </div>
          </div>

          <div class="right">
            <div class="overview">
              <h2 class="title">Synopsis</h2>
                <div>{{movie?.overview}}</div>
            </div>

            <div class="stats">
              <ul class="nolist">
                <li>
                  <div class="label">Date de sortie</div>
                  <div class="value">{{ movie?.release_date }}
                  </div>
                </li>
                <li>
                  <div class="label">Durée</div>
                  <div class="value">{{ movie?.runtime }} min</div>
                </li>
                <!-- <li *ngIf="movie?.budget">
                  <div class="label">Budget</div>
                  <div class="value">${{ movie?.budget }}</div>
                </li>
                <li *ngIf="movie?.revenue">
                  <div class="label">Revenue</div>
                  <div class="value">${{ movie?.revenue }}</div>
                </li> -->
                <li *ngIf="movie?.genres.length">
                  <div class="label">Genre</div>
                  <div class="comma_" *ngFor="let genre of movie?.genres">
                    <a routerLink="/genres/{{genre.id}}/{{genre.name}}" class="genres">{{ genre?.name }}</a>
                  </div>
                </li>
                <li *ngIf="movie?.status">
                  <div class="label">Status</div>
                  <div class="value">{{movie?.status}}</div>
                </li>
                <li *ngIf="movie?.spoken_languages?.length">
                  <div class="label">Langages</div>
                  <div class="comma_" *ngFor="let language of movie?.spoken_languages">
                    <a>{{ language?.name }}</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          </div>
        </p-tabPanel>

        <p-tabPanel header="Vidéos">
          <div class="listing-space videos__status">
            <div class="items">
              <div class="item" *ngFor="let vid of relatedVideo">
                <div class="link">
                <!-- <div (click)="showDialog(vid)" class="link"> -->
                  <div class="image lazyloaded">
                    <img class="lazyload"
                      src="https://img.youtube.com/vi/{{ vid?.key }}/mqdefault.jpg"
                      [alt]="">
                    <button type="button" (click)="showDialog(vid)" class="play__icon btn">
                      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                        viewBox="0 0 55 55">
                        <circle cx="27.5" cy="27.5" r="26.75" fill="none" stroke="#fff"
                          stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                        <path fill="none" stroke="#fff" stroke-linecap="round"                                           stroke-linejoin="round" stroke-width="1.5" d="M20.97 40.81L40.64 27.5 20.97 14.19v26.62z" />
                      </svg>
                    </button>
                    <!-- <div class="play__icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                        viewBox="0 0 55 55">
                        <circle cx="27.5" cy="27.5" r="26.75" fill="none" stroke="#fff"
                          stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                        <path fill="none" stroke="#fff" stroke-linecap="round"                                           stroke-linejoin="round" stroke-width="1.5" d="M20.97 40.81L40.64 27.5 20.97 14.19v26.62z" />
                      </svg>
                    </div> -->
                  </div>
                  <div class="name">{{ vid?.name }}</div>
                  <div class="type">{{ vid?.type }}</div>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
</p-tabView>

<p-dialog *ngFor="let vid of relatedVideo" header="{{ vid?.name }}" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '900px', height: '600px'}">
  <!-- <iframe [src]="{{ video }}" width="100%" height="478px" frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen></iframe> -->
        Lecture de la video {{ vid?.name }}
</p-dialog>
<!-- <button type="button" (click)="showDialog(video)" icon="pi pi-info-circle" label="Show"></button> -->





