@import '~bootstrap/dist/css/bootstrap.min.css';

/*Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

/* Shared Styles*/
@import '../src/assets/scss/listing';

$breakpoint-xsmall: 640px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1400px;

/* Colors variables definition */
:root {
  --mainGreen: #008F4F;
  --mainBlack: #0A0A0B;
  --mainYellow:#F8D53A;
  --mainRed: #DA1B2B;
  --mainWhite: #fff;
  --mainGrey: rgb(238, 238, 238);
  --black-color : #222;
  --blue-color : #6dabe4;
  --grey-light: #999;
}
/* Material icons */
.material-icons {
 font-family: 'Material Icons';
 font-weight: normal;
 font-style: normal;
 font-size: 24px;  /* Preferred icon size */
 display: inline-block;
 line-height: 1;
 text-transform: none;
 letter-spacing: normal;
 word-wrap: normal;
 white-space: nowrap;
 direction: ltr;
 cursor: pointer;

 /* Support for all WebKit browsers. */
 -webkit-font-smoothing: antialiased;
 /* Support for Safari and Chrome. */
 text-rendering: optimizeLegibility;

 /* Support for Firefox. */
 -moz-osx-font-smoothing: grayscale;

 /* Support for IE. */
 font-feature-settings: 'liga';
}

/* Règles pour la taille des icônes. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Règles pour définir différentes couleurs aux icônes. */
.material-icons.md-grey {
 color: rgb(155, 155, 155);
}
.material-icons.md-grey:hover {
 color: rgb(105, 105, 105) !important;
}

.material-icons.md-dark-grey {
 color: rgb(85, 85, 85);
}
.material-icons.md-dark-grey:hover {
 color: rgb(65, 65, 65) !important;
}

body {
 font-family: 'Nunito', sans-serif;
}

/* @extend display-flex; */
display-flex {
    display: flex;
    display: -webkit-flex;
}
/* @extend list-type-ulli; */
list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

