@import '~bootstrap/dist/css/bootstrap.min.css';

/*Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

/* Shared Styles*/
@import '../src/assets/scss/listing';
@import '../src/assets/scss/program-details';
@import '../src/assets/scss/overview';
@import '../src/assets/scss/material-icons';

$breakpoint-xsmall: 640px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1400px;

/* Colors variables definition */
:root {
  --mainGreen: #008F4F;
  --mainBlack: #0A0A0B;
  --mainYellow:#F8D53A;
  --mainRed: #DA1B2B;
  --mainWhite: #fff;
  --mainGrey: rgb(238, 238, 238);
  --black-color : #222;
  --blue-color : #6dabe4;
  --grey-light: #999;
}

body {
 font-family: 'Nunito', sans-serif;
}

/* @extend display-flex; */
display-flex {
    display: flex;
    display: -webkit-flex;
}
/* @extend list-type-ulli; */
list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
